nav {
    background-color: var(--color-primary);
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    position: fixed;
    height: var(--header-height);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .nav-item {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: var(--font-size-h3);
}

nav .nav-item:hover {
    text-decoration: underline;
}