


.blog-post {
    margin-top: calc(var(--font-size-h1) + 1em);
    margin-left: 20px;

    max-width: 60vw;
    left: 20vw;
    position: relative;
}

.blog-post h1 {
    font-size: var(--font-size-h1);
    font-weight: bold;
}

.blog-post p {
    font-size: var(--font-size-p);
}